<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/acceuil.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@400;600;700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body >
    
            
        <div class="page-title  home text-center" style="text-align: center; margin-top: 50px;" >
            <span class="heading-page" > Bienvennue a <strong>Piko</strong></span>
            <p class="mt20" style="color: black;">Nous vous invitons à réserver votre table pour vivre une expérience culinaire exceptionnelle. Venez découvrir le charme unique du Restaurant PIKO et laissez-nous vous offrir un voyage gustatif mémorable.</p>
        </div>



        

    
    <div class="main">
        <ul class="cards">
            <%- include('partials/loader') %>
            <% if (recups && ids) { %>
            <% recups.forEach(function(element) { %>
            <li class="cards_item">
                
                <a href="/acceuil2/<%= element._id %>?numtable=<%= ids %>">
                <div class="card">
                    <h2 class="card_title"><%= element.nom %> </h2>
                    <div class="card_image">
                        <svg viewBox="0 0 173.20508075688772 200"  version="1.1" xmlns="http://www.w3.org/2000/svg" style="border-radius: 5px;">
                        <image href="<%= element.image.replace(/\\/g, '/') %> "/> 
                        <!-- <img src="https://assets.codepen.io/652/photo-1468777675496-5782faaea55b.jpeg" alt="mixed vegetable salad in a mason jar. "> -->
                        <!-- <div class="price">$9</div> -->
                    </div>
                    <div class="card_content">
                        <div class="card_text">
                            <p style="margin-top: 60px;"> Je suis enchanté de vous présenter ma sélection culinaire, conçue
                                 pour ravir vos papilles et offrir une expérience gustative inoubliable. <strong><%= element.nom %></strong> sont préparés avec des ingrédients frais et de qualité, 
                                chaque recette étant soigneusement élaborée pour équilibrer saveurs et textures.
                            .</p>
                            
                        </div>
                    </div>
                </div>
            </a>
            </li>
        
            <% }); %>
            <% } %>
        </ul>
    </div>
    
</body>
</html>