<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/acceuil2.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Document</title>
</head>
<body>

    <main class="site-wrapper" style="z-index:-100;">
       
            <nav>
              
                <div class="nav"> 
                    <% if (ids) { %>
                       
                        <a href="/acceuil?numtable=<%= ids %>" style="color: #f90a23;" class="retour">&#8592</a> 
                    
                    
    
                    <form action="#"  class="search-container">
                        <input type="text" id="search-input" name="search" value="" placeholder="Search Something..."  oninput="filterNames()"  required>
                        
                    </form>
                      <a href="/afficher?numtable=<%= ids %>" class="cart-container">
                       <img src="/picture/paniero.png" alt="" width="30px" class="cart-icon">
                       <span class="nbre"  style="font-size: 20px;"></span>
                     </a>
                     <% } %>
                </div> 
            </nav> 
        
              
              
            
          
        
        
        <div class="pt-table desktop-768">
          <div class="pt-tablecell page-home relative" >
        <div class="overlay"></div>

      
        <div class="container" >
            <div class="row">
                <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8 ">
                    <div class="page-title  home text-center" style="text-align: center;">
                        <span class="heading-page" style="margin-top: 10px;"> Bienvennue a <strong>Piko</strong></span>
                                          <p class="mt20">Notre restaurant est fier de vous présenter une variété de plats délicieux, préparés avec soin pour satisfaire toutes les papilles. Explorez notre menu diversifié, comprenant des plats savoureux et des options pour tous les goûts.</p>
                    </div>
                    
                        <div class="hexagon-menu clear madjid" >
                                           
                                           <!-- <%- include('partials/loader') %> -->
                                           <% if (recups) { %>
                                            <% recups.forEach(function(element) { %>
                                               
                                          <div class="hexagon-item">
                                            
                                              <div class="hex-item">
                                                  <div></div>
                                                  <div style="border: 2Px solid white;"></div>
                                                  <div style="border: 2Px solid white;"></div>
                                              </div>
                                              <div class="hex-item">
                                                  <div></div>
                                                  <div></div>
                                                  <div></div>
                                              </div>
                                              <a  class="hex-content" style="overflow: hidden;padding: 10px;"  >
                                                
                                                  <span class="hex-content-inner" >
                                                      
                                                      <span class="title" style="font-size: 20px;"><strong class="titres"><%= element.nom %></strong></span> 
                                                    </span>
                                                  <svg viewBox="0 0 173.20508075688772 200" height="auto" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><image class="img" href="/<%= element.image.replace(/\\/g, '/') %>" height="100%" width="100%" />
                                                </svg>
                                                <div class="id"><%= element.id %></div>
                                              </a>
                                              
                                            <span class="prix"><strong><%= element.prix %> Cfa</strong></span>
                                            
                                            

                                          </div>
                                          <% }); %>
                                          <% } %>
                                        </div>
                                          
                                          
                                          
                                          

                
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
        </main>





        

    
    
</body>
<script src="../public/javascripts/afficher.js"></script>
<script src="/javascripts/panier.js"></script>
<script src="/javascripts/recherche.js"></script>

</html>