<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/acceuil.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@400;600;700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body >
    
    <% if (ids) { %>
        <nav class="navbar">
            <div class="menu-toggle" id="menuToggle">
                ☰ <span>Menu</span>
            </div>
            <ul class="nav-menu" id="navMenu">
                <li><a href="/index?numtable=<%= ids %>">Acceuil</a></li>
                <li><a href="/acceuil?numtable=<%= ids %>">Menu</a></li>
                <li><a href="/afficher?numtable=<%= ids %>">Panier</a></li>
            </ul>
        </nav>
    <% } %>
            
        <div class="titre">
            <h1>notre Menu</h1>
        </div>

           
           
                
                
                  
                        
                    <div class="containero">
                        <%- include('partials/loader') %>
                        <% if (recups && ids) { %>
                        <% recups.forEach(function(element) { %>
                       
                            <div class="container">
                                <img src="<%= element.image.replace(/\\/g, '/') %>" alt="vegan">
                                <div id="card" class="center">
                            
                                  <div class="feature">
                                    <p>👍Piko restaux</p>
                                  </div>
                                  <div class="cuisine">
                            
                                    🌿
                                  </div>
                                  <div class="dish">
                                    <h1><%= element.nom %></h1>
                            
                                  </div>
                                  <!-- <div class="rating">
                                    <p>
                                      <span class="fa fa-star checked"></span> 4.3
                                    </p>
                                  </div> -->
                            
                                  <div class="description">
                                    <p>
                                      It features a mix of romaine lettuce and red baby butter lettuce, shredded carrots.
                                    </p>
                            
                                  </div>
                                  <!-- <div class="amount">
                            
                                    <h3>$15.00</h3>
                                  </div> -->
                            
                                  <div class="cta">
                            
                                    <a class="button" href="/acceuil2/<%= element._id %>?numtable=<%= ids %>">
                                        Decouvrez notre <span style="color: white;"><%= element.nom %></span>
                                        </a>
                            
                                  </div>
                            
                                </div>
                              </div>
                               
                       
                        <% }); %>
                        <% } %>
                    </div>
                    
                      
                
             
        
           
     
    
</body>
<script src="/javascripts/nav.js"></script>
</html>