<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/acceuil.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@400;600;700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body >
    
    <% if (ids) { %>
        <nav class="navbar">
            <div class="menu-toggle" id="menuToggle">
                ☰ <span>Menu</span>
            </div>
            <ul class="nav-menu" id="navMenu">
                <li><a href="/index?numtable=<%= ids %>">Acceuil</a></li>
                <li><a href="/acceuil?numtable=<%= ids %>">Menu</a></li>
                <li><a href="/afficher?numtable=<%= ids %>">Panier</a></li>
            </ul>
        </nav>
    <% } %>
            
        <div class="titre">
            <h1>notre Menu</h1>
        </div>

           
           
                
                
                  
                        
                    <div class="container">
                        <%- include('partials/loader') %>
                        <% if (recups && ids) { %>
                        <% recups.forEach(function(element) { %>
                       
                           
                                <div class="containero">
                                   
                                    <img src="https://firebasestorage.googleapis.com/v0/b/cajaregistradora-776cc.appspot.com/o/pngwing.com(2).png?alt=media&token=bde13cf8-4b17-4da9-90cf-c16db83b2e1f" />
                                    <!-- <img src="<%= element.image.replace(/\\/g, '/') %>" alt=""> -->
                                    <div class="content-box">
                                      <h4 class="name" style="color: #FFC100; font-size: 20px; font-weight: bold;"><%= element.nom %></h4>
                                      <p style="color: white;">A burguer typically considered a sandwich, consisting of one or more cooked patties-usually placed inside a sliced bread roll or bun</p>
                                      <p style="color: white;">Onion, Lettuce, Tomatoe, Patty, Cheese</p>
                                     
                                      <div class="btn">
                                        <a href="/acceuil2/<%= element._id %>?numtable=<%= ids %>">
                                       Decouvrez notre <span style="color: white;"><%= element.nom %></span>
                                       </a>
                                      </div>
                                    
                                    </div>
                                    
                                  </div>
                            
                       
                        <% }); %>
                        <% } %>
                    </div>
                    
                      
                
             
        
           
     
    
</body>
<script src="/javascripts/nav.js"></script>
</html>