<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste de Commandes</title>
    <link rel="stylesheet" href="/stylesheets/commandes2.css">
    <link rel="stylesheet" href="/stylesheets/loader.css">
</head>
<body>
    <%- include('partials/loader') %>
    <%- include('partials/hearder') %>

    <div class="commande">
        <div class="titre">Liste de Commandes</div>
        <% if (commandes) { %>
            <% commandes.forEach(function(element) { %>
                <% if (element.statut !== false) { %>
                <div class="commande-item">
                    <div class="plats">
                        <% element.data.forEach(function(plat) { %>
                            <div class="plat">
                                
                                <div class="nom"><%= plat.nom %>:</div>
                                <div class="quantite">x<%= plat.nbre %></div>
                                <div class="prix">Prix: <%= plat.prix %></div>
                                
                            </div>
                        <% }); %>
                        <% element.alergit.forEach(function(element) { %>
                            <div class="plat">
                                
                                <div class="nom">alergit:<%= element.alergit %>:</div>
                                <div class="nom">temperature:<%= element.temperature %></div>
                                
                            </div>
                        <% }); %>
                    </div>
                    <div class="num">Numéro de la table: <strong id="dedy"><%= element.num %></strong></div> 
                    <div class="total">Total: <%= element.total %></div>
                    <!-- <div class="total">id: <%= element.id %></div> -->
                    <div class="total">statut commande: <%= element.statut %></div>
                    <a href="/admin/commande/<%= element._id %>" class="servit">Servi au client</a>
                </div>
                <% } %>
            <% }); %>
        <% } %>

    </div><audio id="notificationSound" src="/images/sound.mp3" preload="auto"></audio>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js"></script>
    
    <script src="/javascripts/cmmd.js"></script>
    <script src="/javascripts/socketadmin.js"></script>
    <script src="/javascripts/socketadmin2.js"></script>
   
</body>
</html>
