<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/connexion.css">
    <title>Document</title>
</head>
<body>
    <%- include('partials/hearder2') %>


    <!-- <form action="/admin/souscathegorie" method="post" enctype="multipart/form-data">
        <h2>Formulaire de souscathegorie</h2>
        <% if ( typeof vv !== "undefined" && vv ) { %>
            <p><%= vv %></p>
            <% } %>
         <input type="text" placeholder="le non de votre sousplat" name="nom" id="" required>
         <input type="number" placeholder="entrer le prix" name="prix" id="" required>
         <input type="file" placeholder="entrer l'image " name="image" id="" required>
         <% if( typeof recups !== "undefined" && recups ) { %>
        <label for="plat">Choisissez votre plat :</label>
        <select id="plat" name="id_cath">
            <% recups.forEach(function(element) { %>
            <option value="<%= element._id %>"><%= element.nom %></option>
            <% }); %>
        </select>
        <% } %>

       

        <button  type="submit">Inserer</button>
    </form> -->



    <section>
        <div class="container">
            <div class="formulaire">
                <form action="/admin/souscathegorie" method="post">
                    <h2>Formulaire de  sous cathegorie plat</h2>
                    <% if ( typeof vv !== "undefined" && vv ) { %>
                        <p class="message"><%= vv %></p>
                        <% } %>
                        <div class="input-container">
                            <img src="/picture/imagesrb.png" width="30px" height="30px" alt="">
                            <input type="text" name="nom" id="" required>
                            <label for="#">Nom sous plat</label>
                        </div>
                        <div class="input-container">
                            <img src="/picture/imagesrb.png" width="30px" height="30px" alt="">
                            <input type="number"  name="prix" id="" required>
                            <label for="#">Le prix</label>
                        </div>
                        <div class="input-container">
                            <img src="/picture/imgrb.png" width="40px" height="30px" alt="">
                            <input type="file" placeholder="entrer l'image " name="image" id="" required>
                        </div>
                        <div class="input-container">
                            <% if( typeof recups !== "undefined" && recups ) { %>
                               
                                <select id="plat" name="id_cath">
                                    <% recups.forEach(function(element) { %>
                                    <option value="<%= element._id %>"><%= element.nom %></option>
                                    <% }); %>
                                </select>
                                <label for="plat" style="margin-left: 100px;">Choisissez votre plat :</label>
                                <% } %>
                        </div>
                       
                        <div class="input-containers" style="margin-bottom: 40px;">
                            <button type="submit">Ajouter</button>
                        </div>
            
                    
                </form>
            </div>
        </div>
    </section>
    <%- include('partials/loader') %>
</body>
</html>